<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        .h-100-vh {
            height: 100vh;
        }

        .h-100-percent {
            height: 100%;
        }

        .w3-container {
            height: 100%;
            position: relative;
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
        }

        .gameplay-container {
            border: 8px solid white;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        .h-gr-1-2-vh {
            height: 85.41019662496846vh;
        }

        .h-gr-1-vh {
            height: 61.80339887498949vh;
        }

        .c-pointer {
            cursor: pointer;
        }


        .v-card--reveal {
            bottom: 0;
            opacity: 1 !important;
            position: absolute;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <div class="h-100-vh">
                    <div class="w3-container">
                        <div class="vertical-center">
                            <div class="h-gr-1-2-vh">
                                <v-container class="gameplay-container text-center h-100-percent overflow-auto">
                                    <div class="h-100-percent">
                                        <div class="w3-container">
                                            <div class="vertical-center">
                                                <v-container>
                                                    <v-card class="mx-auto">
                                                        <v-card-text>
                                                            <div>{{cards[index].type}}</div>
                                                            <p class="text-h4 text--primary">
                                                                {{cards[index].tense}}
                                                            </p>
                                                            <div class="text--primary">
                                                                {{cards[index].verb}}
                                                            </div>
                                                        </v-card-text>
                                                        <v-card-actions>
                                                            <v-btn text color="pink lighten-3" @click="reveal = true">
                                                                Learn More
                                                            </v-btn>
                                                        </v-card-actions>

                                                        <v-expand-transition>
                                                            <v-card v-if="reveal"
                                                                class="transition-fast-in-fast-out v-card--reveal"
                                                                style="height: 100%;">
                                                                <v-card-text class="pb-0">
                                                                    <p class="text-h4 text--primary"
                                                                        v-for="result in cards[index].results"
                                                                        v-html="result"></p>
                                                                </v-card-text>
                                                                <v-card-actions class="pt-0">
                                                                    <v-btn text color="pink lighten-3"
                                                                        @click="reveal = false">
                                                                        Close
                                                                    </v-btn>
                                                                </v-card-actions>
                                                            </v-card>
                                                        </v-expand-transition>
                                                    </v-card>
                                                    <v-container>
                                                        <v-btn :disabled="index === 0"
                                                            @click="index -= 1; reveal = false;">{{leftButton}}</v-btn>
                                                        <v-btn :disabled="index === cards.length - 1"
                                                            @click="index += 1; reveal = false;">{{rightButton}}</v-btn>
                                                    </v-container>
                                                </v-container>
                                            </div>
                                        </div>
                                    </div>
                                </v-container>
                            </div>
                        </div>
                    </div>
                </div>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/nerdamer@1.1.13/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"
        integrity="sha512-nnNHpffPSgINrsR8ZAIgFUIMexORL5tPwsfktOTxVYSv+AUAILuFYWES8IHl+hhIhpFGlKvWFiz9ZEusrPcSBQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script>
        const cards = [
            {
                type: 'English',
                tense: 'Il Presente Semplice',
                verb: 'to eat',
                results: ['I eat breakfast every morning at 7am.'],
            },
            {
                type: 'English',
                tense: 'Il Presente Continuo',
                verb: 'to write',
                results: ['I am currently writing an email to my boss.'],
            },
            {
                type: 'English',
                tense: 'Passato Prossimo',
                verb: 'to go',
                results: ['Ho parlato.'],
            },
            {
                type: 'English',
                tense: 'Il Futuro Semplice',
                verb: 'to meet',
                results: ['Tomorrow, I will meet my friend for lunch at noon.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'I speak.',
                results: ['Parlo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You speak.',
                results: ['Parli.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'He/She speaks.',
                results: ['Parla.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'We speak.',
                results: ['Parliamo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You all speak.',
                results: ['Parlate.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'They speak.',
                results: ['Parlano.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'I believe.',
                results: ['Credo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You believe.',
                results: ['Credi.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'He/She believes.',
                results: ['Crede.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'We believe.',
                results: ['Crediamo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You all believe.',
                results: ['Credete.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'They believe.',
                results: ['Credono.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'I hear.',
                results: ['Sento.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You hear.',
                results: ['Senti.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'He/She hears.',
                results: ['Sente.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'We hear.',
                results: ['Sentiamo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'You all hear.',
                results: ['Sentite.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Semplice',
                verb: 'They hear.',
                results: ['Sentono.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'I am speaking.',
                results: ['Sto parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You are speaking.',
                results: ['Stai parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'He/She is speaking.',
                results: ['Sta parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'We are speaking.',
                results: ['Stiamo parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You all are speaking.',
                results: ['State parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'They are speaking.',
                results: ['Stanno parlando.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'I am believing.',
                results: ['Sto credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You are believing.',
                results: ['Stai credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'He/She is believing.',
                results: ['Sta credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'We are believing.',
                results: ['Stiamo credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You all are believing.',
                results: ['State credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'They are believing.',
                results: ['Stanno credendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'I am hearing.',
                results: ['Sto sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You are hearing.',
                results: ['Stai sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'He/She is hearing.',
                results: ['Sta sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'We are hearing.',
                results: ['Stiamo sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'You all are hearing.',
                results: ['State sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Presente Continuo',
                verb: 'They are hearing.',
                results: ['Stanno sentendo.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'I spoke.',
                results: ['Ho parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You spoke.',
                results: ['Hai parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'He/She spoke.',
                results: ['Ha parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'We spoke.',
                results: ['Abbiamo parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You all spoke.',
                results: ['Avete parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'They spoke.',
                results: ['Hanno parlato.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'I believed.',
                results: ['Ho creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You believed.',
                results: ['Hai creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'He/She believed.',
                results: ['Ha creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'We believed.',
                results: ['Abbiamo creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You all believed.',
                results: ['Avete creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'They believed.',
                results: ['Hanno creduto.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'I heard.',
                results: ['Ho sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You heard.',
                results: ['Hai sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'He/She heard.',
                results: ['Ha sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'We heard.',
                results: ['Abbiamo sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'You all heard.',
                results: ['Avete sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Passato Prossimo',
                verb: 'They heard.',
                results: ['Hanno sentito.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'I will speak.',
                results: ['Parler&ograve;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You will speak.',
                results: ['Parlerai.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'He/She will speak.',
                results: ['Parler&agrave;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'We will speak.',
                results: ['Parleremo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You all will speak.',
                results: ['Parlerete.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'They will speak.',
                results: ['Parleranno.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'I will believe.',
                results: ['Creder&ograve;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You will believe.',
                results: ['Crederai.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'He/She will believe.',
                results: ['Creder&agrave;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'We will believe.',
                results: ['Crederemo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You all will believe.',
                results: ['Crederete.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'They will believe.',
                results: ['Crederanno.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'I will hear.',
                results: ['Sentir&ograve;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You will hear.',
                results: ['Sentirai.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'He/She will hear.',
                results: ['Sentir&agrave;.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'We will hear.',
                results: ['Sentiremo.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'You all will hear.',
                results: ['Sentirete.'],
            },
            {
                type: 'Italian',
                tense: 'Il Futuro Semplice',
                verb: 'They will hear.',
                results: ['Sentiranno.'],
            },
        ];

        const inPlaceRandom = (arr) => {
            const newArr = []
            arr.forEach(element => {
                newArr.push(element)
            });
            for (let i = 0; i < newArr.length; i += 1) {
                const randomIndex = Math.floor(Math.random() * newArr.length)
                const randomElement = newArr[randomIndex]
                const temp = newArr[i];
                newArr[i] = randomElement;
                newArr[randomIndex] = temp;
            }
            return newArr;
        }
    </script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: { dark: true, }
            }),
            data: () => ({
                reveal: false,
                index: 0,
                leftButton: '<',
                rightButton: '>',
                cards: inPlaceRandom(cards),
            }),
        })
    </script>
</body>

</html>